.custom-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none; /* Chrome, Safari, newer versions of Opera */
}

.custom-scrollbar:hover {
  scrollbar-width: auto; /* Firefox */
  -ms-overflow-style: auto; /* Internet Explorer 10+ */
}

.custom-scrollbar:hover::-webkit-scrollbar {
  width: auto;
  height: auto;
  display: block; /* Chrome, Safari, newer versions of Opera */
}
